**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/test
# We comment out tests so CI can see them, but Prod Dockerfile ignores them explicitly
# **/tests
README.md
**/*.user